APP_ENV=dev
APP_DEBUG=1

# On garde SQLite pour le PoC RabbitMQ local afin de simplifier le test.
DATABASE_URL="sqlite:///%kernel.project_dir%/var/data_dev.db"

# RabbitMQ exposé localement via: kubectl port-forward svc/rabbitmq 5672:5672
MESSENGER_TRANSPORT_DSN=amqp://guest:guest@127.0.0.1:5672/%2f/messages

# Keycloak exposé localement via: kubectl port-forward svc/keycloak 8080:8080
KEYCLOAK_URL=http://127.0.0.1:8080
KEYCLOAK_REALM=master
KEYCLOAK_CLIENT_ID=symfony-app
KEYCLOAK_CLIENT_SECRET=CHANGE_ME
KEYCLOAK_REDIRECT_URI=http://localhost:8000/login/keycloak/callback
