# Environment Configuration Example
# Copier ce fichier en .env et adapter les valeurs

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=changeme_in_production_with_random_string
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://lpmde_user:lpmde@postgres-service:5432/lpmde_db?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> Docker Configuration ###
APP_PORT=8080
DB_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=lpmde
MYSQL_USER=lpmde
MYSQL_PASSWORD=lpmde
###< Docker Configuration ###
